<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.data.global.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.data.global.title | escape }}
            {% endif %}
            </li>
          <li><a href="mailto:{{ site.data.global.email }}">{{ site.data.global.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.data.global.github_username %}
          <li>
            {% include icon-github.html username=site.data.global.github_username %}
          </li>
          {% endif %}

          {% if site.data.global.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.data.global.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.data.global.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
